body {
  background-color: #eaf6f6;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: #a6e3e9;
  border-width: 5px;
  width: 50px;
}

h1 {
  color: #66BFBF;
}

h3 {
  color: #66BFBF;
}
